<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- default CSS via adactio -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/global.css">

  <!-- .pattern class CSS -->
  <style>
    .pattern {
        clear: both;
        overflow: hidden;
    }
    .pattern .display {
        width: 65%;
        float: left;
    }
    .pattern .source {
        width: 30%;
        float: right;
    }
    .pattern .source textarea {
        width: 90%;
    }
  </style>

  {% include fonts.html %}

  {% include analytics.html %}
</head>
